---
interface Props {
  class?: string;
  style?: string;
}
---

<div class="card-base p-4 text-center rounded-lg shadow-sm max-w-3xl mx-auto">
  <h2 class="text-3xl font-bold mb-4 text-[var(--primary)]">Vire membro</h2>
  <p class="text-90 mb-6">
    Receba conteúdos exclusivos e benefícios especiais. Clique para saber mais!
  </p>
  <div class="my-8">
    <a
      href="/assinaturas/planos/"
      class="btn-regular font-semibold py-3 px-6 rounded-md transition duration-300 shadow-md"
    >
      Assinar Agora
    </a>
  </div>
</div>
