---
import Subscription from "@/components/Subscription.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<html lang="pt-BR">
  <head>
    <title>Página com Assinatura</title>
    <meta charset="UTF-8" />
  </head>
  <MainGridLayout>
    <body class="bg-gray-100">
      <Subscription />
    </body>
  </MainGridLayout>

</html>
